body, html {
    margin: 0;
    overflow: hidden;
    height: 100%;
}
.scroll-container {
    overflow: auto;
  }

.containerHeight {
    height: 90vh;
}

.ListHeight{
    min-height: 5vh;
}

.overflowPlsWork{
    overflow-x:auto;
}

.modal {
    position: 'absolute';
    top: '40px';
    left: '40px';
    right: '40px';
    bottom: '40px';
    border: '1px solid #ccc';
    background: '#fff';
    overflow: 'auto';
    outline: 'none';
    padding: '20px';
}

.overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);;
}

.bg-light-gray {
    background-color: rgb(241, 242, 244);
    color: black !important;
}

.rotate90{
    rotate: -90deg;
}

.rotate180{
    rotate: 180deg;
}
.cursorText{
    cursor: text;
}
.cursorPointer{
    cursor: pointer;
}